body {
	overflow-x: hidden;
}
main {
	height: calc(100vh - 200px);
}
footer {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0;
}
.navbar {
	padding: 0;
}
.bg-f5dev {
	background: #e18b04 !important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .1rem;
    padding-bottom: .1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
	height: 55px;
	width: auto;
}
.home-page {
	background-size: cover;
	background-position: center;
	height: 100%;
	text-align: center;
}
.home-page h1 {
	margin-top: 30px;
	display: inline-block;
}/*
.home-page img {	
	height: 80%;
	width: 100%;
}*/


.small-font .title {
	font-size: 14px !important;
}
.c-col-8 {
	width: 12.5%;
	float: left;
	display: block;
	min-height: 145px;
	text-align: center;
	padding: 15px 5px;
	border: 1px solid #fff;
	display: table;
}
.c-action {
	margin: 0;
}
.c-action .title {
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding: 7px;
}
.c-action .title i {
	font-size: 64px;
	margin: 5px;
	color: white;	
}
.c-action .col {
	padding: 0;
}
.c-action .col:hover {
	text-decoration: none;
	transition: 0.1s;
	transform: scale(1.1);
	cursor: pointer;
	z-index: 1;
	position: relative;
}
/*
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
}*/
.manager1 {
	background: #558ed5;
	color: #fff;
	padding: 10px 0;
}
.manager1 h3 {
	text-transform: uppercase;
	font-size: 20px;
}
.gachchan {
	height: 2px;
	background: transparent;
	background-image: linear-gradient(to right, #fff , transparent);
	width: 80%;
	margin-bottom: 15px;
}
.manager-l ul {
	padding-left: 15px;
}
.manager-l ul li {
	line-height: 2em;
	margin-bottom: 15px;
}
.manager-r {
	color: #3d3d3d;
}
.manager-r img {
	width: 100%;
	height: auto;
}
.mien_bac1 img {
	height:165px;
}
@media (min-width: 868px) {
	.manager-r img {
		height: auto;
	}
	.manager1 h3 {
		font-size: 26px;
	}
}